{{/* Load data */}}
{{ $versionsData := .Site.Data.versions }}
{{ $languages := "" }}
{{ if $versionsData }}
  {{ $languages = $versionsData.languages }}
{{ end }}

{{ $currentPath := .RelPermalink }}
{{ $currentLang := "en" }}
{{ $currentVersion := "" }}

{{/* Create master version list from all languages */}}
{{ $allVersions := slice }}
{{ $currentLanguage := dict }}
{{ if $languages }}
  {{/* Collect all unique versions across all languages */}}
  {{ range $languages }}
    {{ range .versions }}
      {{ $allVersions = $allVersions | append . }}
    {{ end }}
  {{ end }}
  
  {{/* Remove duplicates */}}
  {{ $uniqueVersions := slice }}
  {{ range $version := $allVersions }}
    {{ $found := false }}
    {{ range $uniqueVersions }}
      {{ if eq .version $version.version }}
        {{ $found = true }}
      {{ end }}
    {{ end }}
    {{ if not $found }}
      {{ $uniqueVersions = $uniqueVersions | append $version }}
    {{ end }}
  {{ end }}
  {{ $allVersions = $uniqueVersions }}
  
  {{/* Get current language object */}}
  {{ range $lang := $languages }}
    {{ if eq $lang.code $currentLang }}
      {{ $currentLanguage = $lang }}
    {{ end }}
  {{ end }}
  
  {{/* If no current language found, default to first */}}
  {{ if not $currentLanguage.code }}
    {{ $currentLanguage = index $languages 0 }}
    {{ $currentLang = $currentLanguage.code }}
  {{ end }}
{{ end }}

{{/* Detect current language and version from URL */}}
{{ if $languages }}
  {{/* First try exact URL matching */}}
  {{ range $lang := $languages }}
    {{ range .versions }}
      {{ if eq $currentPath .url }}
        {{ $currentLang = $lang.code }}
        {{ $currentVersion = .version }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* Also check language root pages */}}
  {{ range $lang := $languages }}
    {{ if eq $currentPath $lang.url }}
      {{ $currentLang = $lang.code }}
    {{ end }}
  {{ end }}

  {{/* If still no match, try URL path patterns */}}
  {{ if not $currentLang }}
    {{ if strings.HasPrefix $currentPath "/en/" }}
      {{ $currentLang = "en" }}
    {{ else if strings.HasPrefix $currentPath "/es/" }}
      {{ $currentLang = "es" }}
    {{ else }}
      {{/* Default to current language from data */}}
      {{ range $lang := $languages }}
        {{ if $lang.current }}
          {{ $currentLang = $lang.code }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{/* Update current language object after detection */}}
  {{ range $lang := $languages }}
    {{ if eq $lang.code $currentLang }}
      {{ $currentLanguage = $lang }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if $languages }}
<!-- Language Navigation (First) -->
<ul class="nav lang" dir="ltr">
  {{ range $languages }}
    <li class="language language-{{ .code }}">
      <a rel="alternate" lang="{{ .code }}" hreflang="{{ .code }}" href="{{ .url }}">{{ .native_name }} ({{ .code }})</a>
    </li>
  {{ end }}
</ul>

<!-- Version Navigation (Second) -->
{{ if $currentLanguage.versions }}
<ul class="nav">
  {{ range $currentLanguage.versions }}
    <li class="version version-{{ .version }}">
      <a href="{{ .url }}">{{ .version }}</a>
    </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}