{{/* Load data */}}
{{ $versionsData := .Site.Data.versions }}
{{ $baseUrl := urls.Parse .Site.BaseURL }}
{{ $rootPath := path.Clean $baseUrl.Path }}
{{ if or (eq $rootPath ".") (eq $rootPath "/") }}
  {{ $rootPath = "" }}
{{ end }}
{{ $languages := "" }}
{{ if $versionsData }}
  {{ $languages = $versionsData.languages }}
{{ end }}

{{ $currentPath := .RelPermalink }}
{{ $currentLang := "en" }}
{{ $currentVersion := "" }}

{{/* Create master version list from all languages */}}
{{ $allVersions := slice }}
{{ $currentLanguage := dict }}
{{ if $languages }}
  {{/* Collect all unique versions across all languages */}}
  {{ range $languages }}
    {{ range .versions }}
      {{ $allVersions = $allVersions | append . }}
    {{ end }}
  {{ end }}
  
  {{/* Remove duplicates */}}
  {{ $uniqueVersions := slice }}
  {{ range $version := $allVersions }}
    {{ $found := false }}
    {{ range $uniqueVersions }}
      {{ if eq .version $version.version }}
        {{ $found = true }}
      {{ end }}
    {{ end }}
    {{ if not $found }}
      {{ $uniqueVersions = $uniqueVersions | append $version }}
    {{ end }}
  {{ end }}
  {{ $allVersions = $uniqueVersions }}
  
  {{/* Get current language object */}}
  {{ range $lang := $languages }}
    {{ if eq $lang.code $currentLang }}
      {{ $currentLanguage = $lang }}
    {{ end }}
  {{ end }}
  
  {{/* If no current language found, default to first */}}
  {{ if not $currentLanguage.code }}
    {{ $currentLanguage = index $languages 0 }}
    {{ $currentLang = $currentLanguage.code }}
  {{ end }}
{{ end }}

{{/* Detect current language and version from URL */}}
{{ if $languages }}
  {{/* First try exact URL matching */}}
  {{ range $lang := $languages }}
    {{ range .versions }}
      {{ if eq $currentPath .url }}
        {{ $currentLang = $lang.code }}
        {{ $currentVersion = .version }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* Also check language root pages */}}
  {{ range $lang := $languages }}
    {{ if eq $currentPath $lang.url }}
      {{ $currentLang = $lang.code }}
    {{ end }}
  {{ end }}

  {{/* If still no match, try URL path patterns */}}
  {{ if eq $currentLang "en" }}
    {{/* Check all available languages dynamically */}}
    {{ range $lang := $languages }}
      {{ $langPattern := printf "/%s/" $lang.code }}
      {{ if or (strings.Contains $currentPath $langPattern) (strings.HasPrefix $currentPath $langPattern) }}
        {{ $currentLang = $lang.code }}
        {{ break }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{/* Update current language object after detection */}}
  {{ range $lang := $languages }}
    {{ if eq $lang.code $currentLang }}
      {{ $currentLanguage = $lang }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if $languages }}
<!-- Language Navigation (First) -->
<ul class="nav lang" dir="ltr">
  {{ range $languages }}
    <li class="language language-{{ .code }}">
      <a rel="alternate" lang="{{ .code }}" hreflang="{{ .code }}" href="{{ printf "%s%s" $rootPath .url }}">{{ .native_name }} ({{ .code }})</a>
    </li>
  {{ end }}
</ul>

<!-- Version Navigation (Second) -->
{{ if $currentLanguage.versions }}
<ul class="nav">
  {{ range $currentLanguage.versions }}
    <li class="version version-{{ .version }}">
      <a href="{{ printf "%s%s" $rootPath .url }}">{{ .version }}</a>
    </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}